In [1]:
# Dependencies and Setup
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from scipy.stats import sem

# Hide warning messages in notebook
import warnings
warnings.filterwarnings('ignore')

# File to Load (Remember to Change These)
mouse_data = "data/mouse_drug_data.csv"
clinical_trial_data = "data/clinicaltrial_data.csv"

# Read the Mouse and Drug Data and the Clinical Trial Data
mouse_df = pd.read_csv(mouse_data)
clinical_trial_df = pd.read_csv(clinical_trial_data)
# mouse_df.head()
# clinical_trial_df.head()

# Combine the data into a single dataset
combined_data = pd.merge(clinical_trial_df, mouse_df, on="Mouse ID")

# Display the data table for preview
combined_data

     Mouse ID  Timepoint  Tumor Volume (mm3)  Metastatic Sites       Drug
0        b128          0           45.000000                 0  Capomulin
1        b128          5           45.651331                 0  Capomulin
2        b128         10           43.270852                 0  Capomulin
3        b128         15           43.784893                 0  Capomulin
4        b128         20           42.731552                 0  Capomulin
...       ...        ...                 ...               ...        ...
1901     m601         25           33.118756                 1  Capomulin
1902     m601         30           31.758275                 1  Capomulin
1903     m601         35           30.834357                 1  Capomulin
1904     m601         40           31.378045                 1  Capomulin
1905     m601         45           28.430964                 1  Capomulin

[1906 rows x 5 columns]

In [2]:
# Store the Mean Tumor Volume Data Grouped by Drug and Timepoint 
placeholder = combined_data.groupby(["Drug", "Timepoint"])["Tumor Volume (mm3)"].mean()

# Convert to DataFrame
dataframe = pd.DataFrame(placeholder).reset_index()

#Preview DataFrame
dataframe

         Drug  Timepoint  Tumor Volume (mm3)
0   Capomulin          0           45.000000
1   Capomulin          5           44.266086
2   Capomulin         10           43.084291
3   Capomulin         15           42.064317
4   Capomulin         20           40.716325
..        ...        ...                 ...
95  Zoniferol         25           55.432935
96  Zoniferol         30           57.713531
97  Zoniferol         35           60.089372
98  Zoniferol         40           62.916692
99  Zoniferol         45           65.960888

[100 rows x 3 columns]

In [37]:
# Store the Standard Error of Tumor Volumes Grouped by Drug and Timepoint
standard_error_grouped = combined_data.groupby(["Drug", "Timepoint"])["Tumor Volume (mm3)"].sem()

# Convert to DataFrame
standard_error_df = pd.DataFrame(standard_error_grouped).reset_index()

# Preview DataFrame
standard_error_df

         Drug  Timepoint  Tumor Volume (mm3)
0   Capomulin          0            0.000000
1   Capomulin          5            0.448593
2   Capomulin         10            0.702684
3   Capomulin         15            0.838617
4   Capomulin         20            0.909731
..        ...        ...                 ...
95  Zoniferol         25            0.602513
96  Zoniferol         30            0.800043
97  Zoniferol         35            0.881426
98  Zoniferol         40            0.998515
99  Zoniferol         45            1.003576

[100 rows x 3 columns]

In [47]:
new = dataframe.set_index(["Drug", "Timepoint"])
new

new2 = new.unstack("Drug")
new2

          Tumor Volume (mm3)                                              \
Drug               Capomulin   Ceftamin  Infubinol   Ketapril   Naftisol
Timepoint
0                  45.000000  45.000000  45.000000  45.000000  45.000000
5                  44.266086  46.503051  47.062001  47.389175  46.796098
10                 43.084291  48.285125  49.403909  49.582269  48.694210
15                 42.064317  50.094055  51.296397  52.399974  50.933018
20                 40.716325  52.157049  53.197691  54.920935  53.644087
25                 39.939528  54.287674  55.715252  57.678982  56.731968
30                 38.769339  56.769517  58.299397  60.994507  59.559509
35                 37.816839  58.827548  60.742461  63.371686  62.685087
40                 36.958001  61.467895  63.162824  66.068580  65.600754
45                 36.236114  64.132421  65.755562  70.662958  69.265506


Drug         Placebo   Propriva   Ramicane   Stelasyn  Zoniferol
Timepoint
0          45.000000  45.000000  45.000000  45.000000  45.000000
5          47.125589  47.248967  43.944859  47.527452  46.851818
10         49.423329  49.101541  42.531957  49.463844  48.689881
15         51.359742  51.067318  41.495061  51.529409  50.779059
20         54.364417  53.346737  40.238325  54.067395  53.170334
25         57.482574  55.504138  38.974300  56.166123  55.432935
30         59.809063  58.196374  38.703137  59.826738  57.713531
35         62.420615  60.350199  37.451996  62.440699  60.089372
40         65.052675  63.045537  36.574081  65.356386  62.916692
45         68.084082  66.258529  34.955595  68.438310  65.960888